<%= div_for(post) do %>
	<small>Written at <%= post.created_at %></small>
	<small class='user'>By <%= post.user %></small>
	<%= simple_format(post.text) %>
	<%= link_to "Reply!", new_topic_post_path(@topic) %>
<% end %>